.profile h1 {
  text-align: center;
}
.employee-profile {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-section {
  display: flex;
  background-color: #f0f0f0; /* Grå bakgrund */
  flex-direction: column;
  width: 40%;
}

.right-section {
  width: 70%;
  margin-left: 20px;
}
